* {font-family: 'Rajdhani', sans-serif;}

:root { --first-color : darkred;
        --sec-color : #C67F7F;
        --third-color :#ececec;}

body {background-color: rgb(236, 236, 236);
overflow-x: hidden;}

h1{ font-family: 'nova square';
    color: darkred;
    font-size: 3rem;}
h2{color: darkred;}
h3{color: darkred;} 
h4{color: darkred;}


.title { background: linear-gradient(to bottom, rgb(236, 236, 236), rgba(236, 236, 236, 0)),
        url("/img/switzerland-862870_1920.jpg"); 
        background-size: 100%;
        height: 100vh;
        background-size:cover;
        background-repeat: no-repeat;
        background-position: center;}
#navbar .nav-link{ 
    padding: 10px 50px;
    color: black;
    background-color: #ececec;}

.img-mou{ background-image: url(/img/mountains.png);
        background-size: cover;
        height: 100%;
        width: 100%;
        background-position: bottom;
        background-repeat: no-repeat;}

#header {padding: 0px;
            /* height: 80vh; */}
.header-text{
        background: linear-gradient(rgb(255, 255, 255)
        ,#ececec );}
    

.quote{color: darkred;
         /* width: 20px;
        height: 20px; */
        font-size: large;}

.icons{ font-size: 30px;
        color: darkred;}

.border-icons{ border-bottom: 5px solid darkred  ;
                position: relative;
        }   
        
.circle{ height: 20px;
        width: 20px;
        border: 2px solid darkred;
        border-radius: 50%;
        position: absolute;
        left: 50%;
        bottom: -10px;
        background-color:#ececec;}     

.button-lorem
        {  background-color: darkred;
           color: #ececec;
           border: none;
           width: 120px;
           height: 35px;
           font-size:small;}

.img-trees-2{background: linear-gradient(180deg,#ececec,rgba(0, 0, 0, 0)),
        url(/img/trees2.png); 
       
        height: 50vh;
        background-size:cover;
        background-repeat: no-repeat;
        background-position: center;}
        


.bg-trees{background-color:#ffffff;}



.border-left{border-left: 5px solid darkred  ;
        position: relative;
;}

.font-p{font-size: medium;}

.circle1{height: 20px;
        width: 20px;
        border: 2px solid darkred;
        border-radius: 50%;
        position: absolute;
        top: 0;
        left: -12px;
        background-color:#ececec;}

.border-img-fog{position: relative;
        height: 150px;
        width: 150px;
        border: 2px solid darkred;
border-radius: 50%;
;}


.img-fog{position: absolute;
        height: 90%;
        width: 90%;
        border: 5px solid #ececec;
border-radius: 50%;
margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;}

.icons-social{color: darkred;
        

}

#footer{background-color: darkred;}
